---
import { Font } from "astro:assets";
---

<header>
  <a class="title" href="/">
    <h1>UX — best</h1>
  </a>
  <div class="menu">
    <ul>
      <li><a href="/post/">Blog</a></li>
      <li><a href="/profile/">Profile</a></li>
      <li><a href="/form/">Form</a></li>
    </ul>
  </div>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    height: 47px;
    border-bottom: 1px solid black;
    .title {
      height: 100%;
      h1 {
        margin: 0 20px;
        font-family: var(--font-coming-soon);
      }
      text-decoration: none;
      color: var(--foreground) !important;
      &:hover {
        color: var(--headerH1-hover) !important;
        h1 {
          color: var(--headerH1-hover) !important;
        }
      }
    }
    .menu {
      height: 100%;
      ul {
        height: 100%;
        margin: 0;
        padding: 0;
        align-items: last baseline;
        display: flex;
        list-style: none;
        li {
          margin: 0 16px 7px 0;
          font-family: var(--font-biz-udgothic);
          font-size: 20px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
</style>